@import "tailwindcss";

@theme {
  --color-cloud: #EAF3F7;
  --color-sky: #3E7CA6;
  --color-highalt: #123A5C;
  --color-shallow: #0B3D3F;
  --color-abyss: #031A1F;
  --color-signal: #FF6B4A;
}

/* html {
  scroll-behavior: smooth;
} */

body {
  background-color: var(--color-cloud);
  color: var(--color-highalt);
}